pkgbase = android-activity-utils
	pkgdesc = Android activity utilities.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-activity-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-display-dim
	depends = android-lockscreen-utils
	depends = android-utils
	depends = bbrightnessctl
	depends = touchctl
	source = android-activity-utils-6fc93f0082ed11339f31410556b2d454a1e49200.zip::https://github.com/themartiancompany/android-activity-utils/archive/6fc93f0082ed11339f31410556b2d454a1e49200.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = d945bc6d2865b132800ea6b91a0d72edfa60e50de040212c57629cc17d9621af

pkgname = android-activity-utils
