pkgbase = android-activity-utils
	pkgdesc = Android activity utilities.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-activity-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-display-dim
	depends = android-lockscreen-utils
	depends = android-utils
	depends = bbrightnessctl
	depends = touchctl
	source = android-activity-utils-fd2dad9caf92a73563435bda62046be123e674ca.zip::https://github.com/themartiancompany/android-activity-utils/archive/fd2dad9caf92a73563435bda62046be123e674ca.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = a56362b914600006dbd3a718734216664fd1b7f0e563a5cc5308cd80078c72c5

pkgname = android-activity-utils
